        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        
        .navbar {
            background: linear-gradient(to left, #0084ff, #00f2ff);
        }
        
        .navbar a {
            color: white;
            font-weight: 700;
        }
        
        .navbar a:hover {
            color: red;
        }
        
        .root_1 {
            background-image: linear-gradient(to right, #0084ff, #00f2ff);
            color: transparent;
            background-clip: text;
            -webkit-background-clip: text;
            font-weight: 500;
        }
        
        .fas {
            font-size: 22px;
            position: relative;
            right: 21px;
            color: white;
            margin-left: 33px;
            top: 9px;
        }
        
        .fas:hover {
            color: black;
        }
        
        .form-control {
            font-size: 14px;
            border-radius: 15px;
        }
        
        .btn {
            border-radius: 15px;
        }
        
        .fa {
            font-size: 14px;
        }
        /* for ad */
        
        .ad {
            background-color: rgb(20, 160, 165);
            height: 100px;
            margin: 30px;
            color: white;
            font-weight: 600;
        }
        
        .ads {
            background-color: rgb(0, 234, 255);
            height: 100px;
            margin: 30px;
            color: white;
            font-weight: 600;
        }